:root {
  --dark-blue-100: #609ed4;
  --dark-blue-200: #356ea9;
  --dark-blue-300: #0a3871;
  --dark-blue-400: #072b61;
  --dark-blue-450: #052051;
  --gray-100: #ced4da;
  --gray-200: #adb5bd;
  --gray-300: #868e96;
  --gray-400: #495057;
  --gray-500: #343a40;
  --light-blue-100: #f3f5fc;
  --light-blue-200: #eff1fa;
  --light-blue-300: #e9ecf8;
  --light-blue-400: #aab2d5;
  --light-blue-500: #757fb2;
}
@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-Light.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-Bold.ttf");
  font-weight: bold;
}
html {
  font-family: "Inter", sans-serif;
}
body {
  background-color: var(--light-blue-100);
  margin: 24px 16px 40px 16px;
}
.custom-scrollbar::-webkit-scrollbar {
  width: 0.5em;
}
.custom-scrollbar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--gray-200);
  outline: 1px solid var(--gray-300);
}
.grid-container {
  display: grid;
  grid-auto-rows: 48px minmax(auto, 255px) auto auto auto auto;
}

.input-text {
  background-color: transparent;
  border-color: transparent;
  box-sizing: content-box;
  color: var(--dark-blue-300);
  font-family: "Inter";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin-top: 80px;
  overflow-y: visible;
  overflow: hidden;
  resize: none;
  width: 100%;
}
.input-text::placeholder {
  color: var(--dark-blue-300);
}
.input-text:focus {
  outline: none;
  box-shadow: 0 0 0 0px var(--dark-blue-200);
  padding: 0;
  border-width: 0;
}
.instruction {
  color: var(--gray-400);
  font-family: "Inter";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin: 16px;
}
.instruction > img {
  vertical-align: text-top;
}
.btn {
  background-color: transparent;
  border-radius: 24px;
  border: 0;
  border: 1px solid var(--dark-blue-300);
  color: var(--dark-blue-300);
  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  height: 67px;
  line-height: 19px;
  text-align: center;
  background-position: center;
  transition: background 0.6s;
}
.btn:hover {
  background: var(--dark-blue-300)
    radial-gradient(circle, transparent 1%, var(--dark-blue-300) 1%)
    center/15000%;
  color: white;
}
.btn:active {
  background-color: var(--dark-blue-200);
  background-size: 100%;
  transition: background 0s;
}
.btn--decrypt {
  margin-top: 24px;
}
.output-text {
  display: inline-block;
  background: white;
  border-radius: 32px;
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
  font-family: "Inter";
  font-size: 24px;
  font-style: normal;
  margin-top: 63px;
  padding: 32px;
}
.not-found > img {
  display: none;
}
.output-text__title {
  color: var(--gray-500);
  font-weight: 700;
  line-height: 120%;
  text-align: center;
}
.output-text__subtitle {
  color: var(--gray-400);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  margin-top: 16px;
  text-align: center;
}
.output-text__text {
  color: var(--gray-400);
  font-weight: 400;
  line-height: 150%;
}
.btn--copy {
  display: none;
  margin-top: 32px;
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .grid-container {
    grid-auto-columns: auto auto;
    /* align-tracks: ; */
  }
  .header {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .input-text {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .instruction {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .btn--encrypt {
    grid-column-start: 1;
    grid-column-end: 2;
    margin-right: 12px;
    margin: 0 auto;
    min-width: 300px;
  }
  .btn--decrypt {
    grid-column-start: 2;
    grid-column-end: 3;
    margin: 0 auto;
    min-width: 300px;
    align-content: center;
  }
  .output-text {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}
@media only screen and (min-width: 1024px) {
  /* * {
    background-color: #757fb2;
  } */
  .grid-container {
    /* grid-auto-rows: 48px minmax(auto, 255px) auto auto auto auto; */
    grid-auto-columns: auto;
    /* grid-row: auto; */
  }

  .output-text {
    display: table;
    grid-row-start: 1;
    grid-row-end: 10;
    grid-column-start: 4;
    grid-column-end: 5;
    width: 400px;
    margin-top: 0;
    height: 100%;
  }

  .input-text {
    grid-row-start: 2;
    grid-row-end: 9;
    grid-column-start: 1;
    grid-column-end: 3;
    height: 100%;
    width: 90%;
    margin-top: 20px;
  }
  .instruction {
    grid-row-start: 9;
    grid-row-end: 10;
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .btn--encrypt {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 10;
    grid-row-end: 12;
    margin:0 12px;
    /* width: ; */
    /* margin-bottom: 200px; */
  }
  .btn--decrypt {
    grid-row-start: 10;
    grid-row-end: 12;
    grid-column-start: 2;
    grid-column-end: 3;
    margin-top: 0;
    margin:0 12px;
    /* width: ; */
    /* margin-bottom: 200px; */
  }
  .not-found {
    display: table-cell;
    vertical-align: middle;
    /* background-color: red; */
    margin: 0 auto;
 
  }
  .not-found img {
    display: inline;
  }
  .output-text{

    max-width: 400px; 
    overflow:hidden;
  }
}
